torch
torchvision
pyyaml
easydict
# torchlars
diffdist
tensorboard
torch-summary
ipywidgets
ipython
ipython-genutils
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterthemes
matplotlib
numpy
opencv-contrib-python
opencv-python
pandas
Pillow
protobuf
regex
scikit-image
scikit-learn
scipy
seaborn
tqdm
wandb